form{
    max-width: 600px; 
    width: 100%;
    margin-top: 30px;
    padding:20px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
h2{
    color: #0d7b70;
}
section {
    margin-left: 220px;
    padding: 20px;
}
section label{
    font-weight: bold;
}
#subLabel{
    font-weight: 300;
}
button{
    padding: 10px; 
    background-color: #269a91; 
    color: #fff; 
    border: none; 
}
button :hover{
    background-color: #75d5cd 
}
input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-bottom: 15px; padding: 8px; width: 50%;
}

input:focus {
    outline: none;
    border-color: #4267b2;
    box-shadow: 0 4px 8px rgba(66, 103, 178, 0.3);
}

input[type="checkbox"] {
    margin: 0;
    width: auto;
}
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 15px; padding: 8px; width: 50%;
}

select:hover, select:focus {
    outline: none;
    border-color: #4267b2;
    box-shadow: 0 4px 8px rgba(66, 103, 178, 0.3);
}

.rounded-logo {
    border-radius: 5%;
    overflow: hidden;
    width: 99%; /* Vous pouvez ajuster la largeur selon vos besoins */
    max-width: 600px;
    height: auto;
}
section{
    margin-bottom:200px;
}
body{
    margin: 0;
    padding: 0;
}
.custom-popo-save{
    display: none;
    width: 100%; 
}
.custom-popo-update{
    display: none;
    width: 100%; 
}
.custom-popo-liste{
    display: none;
    width: 100%; 
}
.form-save{
    position: fixed;
    transform: translate(-50% , -50%);
    width: 300px;
    height: 200px;
    background: gray;
}
.active{
    display: flex ;
}
.bt-crud{
    background-color: #179b61;
}
.bt-crud :hover, .bt-crud:focus{
    background-color: #38d081;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #269a91;
    color: white;
}
.td-ud{
    width:50px;
}
.bt-up{
    background-color: #ced142;
}
.bt-del{
    background-color: rgb(192, 44, 44);
}
