<section>
    <h1><<entityname>></h1>
    <button class="bt-crud" (click)="popopSave()">CREATE</button>
    
    <button class="bt-crud" (click)="popopListe()">LISTE</button>

    <<saveForm>><div class="custom-popo-save" [ngClass]="{'active': popoActiveSave}" >
        <form  *ngIf="<<entityname>>create" (ngSubmit)="submitFormCreate()" >
            <h2>Save <<entityname>></h2>

<<inputs>><<pkchamp>>            <input type="<<typepk>>" id="<<a_namepk>>" name="<<a_namepk>>" [(ngModel)]="<<entityname>>create.<<a_namepk>>"><br> <</pkchamp>>

<<selecttempl>>            <label for="<<namelabel>>"><<Namelabel>>:<br>
                <select id="<<namelabel>>" name="<<name-select>>" [(ngModel)]="<<entityname>>create.<<field-entity>>" required >
                        <<optiontempl>><option *ngFor="let <<data-select>> of <<data-select>>s" [value]="<<data-select>>.<<field-value-option>>">{{ <<data-select>>.<<label-option>>}}</option><</optiontempl>>
                </select>
            </label><br><</selecttempl>>

<<inputtempl>>            <label for="<<namelabel>>"><<Namelabel>>: </label><br>
            <input type="<<typeinput>>" id="<<namelabel>>" [(ngModel)]="<<entityname>>create.<<name-input>>" name="<<name-input>>" />
            <br><</inputtempl>><</inputs>>

            <button type="submit">Valider</button>
        </form>
    </div><</saveForm>>

    <<updateForm>><div class="custom-popo-update" [ngClass]="{'active': popoActiveUpdate}" >
        <form  *ngIf="<<entityname>>" (ngSubmit)="submitFormUpdate(<<entityname>>.<<namepk>>)">
            <h2>Update <<entityname>></h2>

<<inputs>><<pkchamp>>            <input type="<<typepk>>" id="<<a_namepk>>" name="<<a_namepk>>" [(ngModel)]="<<entityname>>.<<a_namepk>>"><br> <</pkchamp>>

<<selecttempl>>            <label for="<<namelabel>>"><<Namelabel>>:<br>
                <select id="<<namelabel>>" name="<<name-select>>" [(ngModel)]="<<entityname>>.<<field-entity>>" required >
                        <<optiontempl>><option *ngFor="let <<data-select>> of <<data-select>>s" [value]="<<data-select>>.<<field-value-option>>">{{ <<data-select>>.<<label-option>>}}</option><</optiontempl>>
                </select>
            </label><br><</selecttempl>>
                   
<<inputtempl>>            <label for="<<namelabel>>"><<Namelabel>>: </label><br>
            <input type="<<typeinput>>" id="<<namelabel>>" [(ngModel)]="<<entityname>>.<<name-input>>" name="<<name-input>>" />
            <br><</inputtempl>><</inputs>>
            
            <button type="submit">Valider</button>
        </form>
    </div><</updateForm>>

    <<listetable>><div class="custom-popo-liste" [ngClass]="{'active': popoActiveListe}" >     
            <table>
                
                <thead>
                    <h2>Liste <<entityname>> </h2>
                    <tr>
<<head-table-templ>>                        <th><<head-table>></th><</head-table-templ>>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let <<entityname>> of <<entityname>>s">
<<column-table-templ>>                        <td>{{<<entityname>>.<<field-column-value>>}}</td><</column-table-templ>>
                        <td class="td-ud"><button class="bt-crud" class="bt-up" (click)="popopUpdate(<<entityname>>.<<namepk>>)">UPDATE</button></td>
                        <td class="td-ud"><button class="bt-crud" class="bt-del" (click)="delete(<<entityname>>.<<namepk>>)">DELETE</button></td>
                    </tr>
                </tbody>
            </table>
    </div><</listetable>>
          
</section>