<section>
    <h1>unite</h1>
    <button class="bt-crud" (click)="popopSave()">CREATE</button>
    
    <button class="bt-crud" (click)="popopListe()">LISTE</button>

    <div class="custom-popo-save" [ngClass]="{'active': popoActiveSave}" >
        <form  #uniteForm="ngForm" (ngSubmit)="submitFormCreate(uniteForm)" >
            <h2>Save unite</h2>

            <input type="hidden" id="idunite" name="idunite" [value]="0" ngModel/><br> 
            <label for="nomunite">Nomunite: </label><br>
            <input type="text" id="nomunite" name="nomunite" ngModel/>
            <br>
            <label for="unite">Unite: </label><br>
            <input type="text" id="unite" name="unite" ngModel/>
            <br>


            <button type="submit">Valider</button>
        </form>
    </div>

    <div class="custom-popo-update" [ngClass]="{'active': popoActiveUpdate}" >
        <form  *ngIf="unite" (ngSubmit)="submitFormUpdate()">
            <h2>Update unite</h2>

            <input type="hidden" id="idunite" name="idunite" [(ngModel)]="unite.idunite"><br> 
            <label for="nomunite">Nomunite: </label><br>
            <input type="text" id="nomunite" [(ngModel)]="unite.nomunite" name="nomunite" />
            <br>
            <label for="unite">Unite: </label><br>
            <input type="text" id="unite" [(ngModel)]="unite.unite" name="unite" />
            <br>

            
            <button type="submit">Valider</button>
        </form>
    </div>

    <div class="custom-popo-liste" [ngClass]="{'active': popoActiveListe}" >     
            <table>
                
                <thead>
                    <h2>Liste unite </h2>
                    <tr>
                        <th>idunite</th>
                        <th>nomunite</th>
                        <th>unite</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unite of unites">
                        <td>{{unite.idunite}}</td>
                        <td>{{unite.nomunite}}</td>
                        <td>{{unite.unite}}</td>

                        <td class="td-ud"><button class="bt-crud" class="bt-up" (click)="popopUpdate(unite.idunite)">UPDATE</button></td>
                        <td class="td-ud"><button class="bt-crud" class="bt-del" (click)="delete(unite.idunite)">DELETE</button></td>
                    </tr>
                </tbody>
            </table>
    </div>
          
</section>
