#packagekey# <package>#endline#
<library>#importkey# <lib>#endline#</library>
public class <Nameclass>#bracketopen#
<field>    <typefield> <namefield>#endline# </field>
    public <Nameclass>()#bracketopen# #bracketclose#
    
<getsetfield>    #getset#</getsetfield>
#bracketclose#
