#packagekey# <package>#endline#
<library>#importkey# <lib>#endline#</library>
#annotationClass#
public class <Nameclass> <extends>#extendskey# <extendsclass></extends> #bracketopen#
<field>    #annotationField#    #encaplsulationfield# <typefield> <namefield> #endlinefield# </field>
    public <Nameclass>()#bracketopen# #bracketclose#
    
<getsetfield>    #getset#</getsetfield>
#bracketclose#
